html, body {
    height:100%;
    width:100%;
}

footer {
    margin-top:-80px;
    clear:both;
    text-align:center;
}


.gallery-box > div {
    margin: 1em 0;
}


#big-box {
    min-height: 100%;
}

#view-image-box {
    width:100%;
    height:100%;
    position: fixed;
    background-color:#ccc;
    top: 1px;
    z-index: 2000;
    
}

    #view-image-box img {
        margin:auto;
        display:block;
        max-height:100%;
        max-width: 100%;
    }
    
